@{
    ViewBag.Title = "Home Page";
}

<div style="background-color : lightgray" class="jumbotron">
    <h1 style="text-align:center"> Welcome </h1>
    
    <p>
    <img src="~/Images/22.JPG"  height="500" width="1000"/>
    </p>
</div>



<div class="row">


    <div class="col-md-4">
        <h3 style="text-align:right" >@Html.ActionLink("Login", "Login", "Account")</h3>
        <h3 style="text-align:right" >@Html.ActionLink("Register", "Register", "Account")</h3>
    </div>

    <div class="col-md-4">
        <p style="text-align:center">
            |
        </p>
        <p style="text-align:center">
            |
        </p>
        <p style="text-align:center">
            |
        </p>
        <p style="text-align:center">
            |
        </p>
        <p style="text-align:center">
            |
        </p>
    </div>

    <div class="col-md-4">

        <h4 style="text-align:left" >0861 100 395</h4>
        <h4 style="text-align:left" >Full Time:  083 825 9366</h4>
        <h4 style="text-align:left" >Part Time:  083 648 7294</h4>
        <h4 style="text-align:left" >Email: enquiry@ctutraining.co.za</h4>

    </div>


</div>